.Header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
}
.Footer{
    color:white;
    background-color: #dc3545 !important;
    position: fixed;
    width: 100% !important;
    bottom: 0;
}
.transparent{
    background-color: #dc3545 !important;
}
.footer-heading{
    text-align: center !important;
    text-decoration: yellow;
    position: relative;
}